# --- TEMPLATE DE CONFIGURAÇÕES SENSÍVEIS ---
# renomeie este arquivo para application-secret.properties e preencha os valores abaixo.

# senha do usuário do banco definido na instalação do Postgres
spring.datasource.password=VALOR_DA_SUA_SENHA
spring.datasource.username=postgres
